.header{
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #cccccc;
}

.logo{
    align-items: left;
    padding-left: 20px;
    background-image: url(../images/icon.pngS);
}
